.footer_container {
  min-height: 12vh;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer_left {
  display: flex;
  align-items: center;
  flex: 0.32;
}

.footer_left p {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.footer_right {
  display: flex;
  align-items: center;
  flex: 0.3;
  justify-content: flex-end;
}

.footer_right h2 {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
