.main {
  min-height: 940px;
  background: black;
}

.banner {
  display: flex;
  position: relative;
  color: white;
  width: 100%;
  min-height: 108vh;
  background-image: url(../assets/img/djdark.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  justify-content: center;
  align-items: center;
}
