header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 1000;
  transition: 0.6s;
}

.sticky {
  padding: 5px 100px;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
  color: white;
  position: relative;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

.logo:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header li {
  position: relative;
  list-style: none;
}

header a {
  color: white;
  position: relative;
  margin: 0 24px;
  text-decoration: none !important;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.1rem;
}

.login {
  color: white;
  position: relative;
  margin: 0 24px;
  text-decoration: none !important;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
}

header ul li:hover {
  transition: 0.3s;
  transform: scale(1.05);
}

.sticky .logo,
.sticky a,
.sticky .login {
  color: black;
}

.menu {
  display: none;
}

@media (max-width: 992px) {
  .menu {
    cursor: pointer;
    transition: 0.5s;
  }

  .menu:hover {
    transition: 0.3s;
    transform: scale(1.07);
  }

  header,
  header .sticky {
    padding: 5px 50px;
    background: #fff;
  }

  header .logo,
  header ul li a {
    color: #000;
  }

  header ul {
    visibility: hidden;
    position: absolute;
    top: 3.03rem;
    left: 0;
    width: 100%;
    height: 25vh;
    text-align: center;
    overflow: auto;
    background: #fff;
  }

  header.active ul {
    visibility: visible;
    display: block;
    padding-top: 20px;
    transition: 0.6s;
  }

  header.active ul li a {
    display: inline-block;
    margin: 10px 0;
    font-size: 1.5rem;
  }

  header.active ul li a:hover {
    transition: 0.6s;
    transform: scale(1.1);
  }
}

.menu_home,
.menu_test,
.menu_game {
  text-decoration: none;
}
