.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 1000;
  transition: 0.6s;
}

.sticky {
  padding: 5px 100px;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
  color: white;
  position: relative;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header li {
  position: relative;
  list-style: none;
  transition: 0.5s;
}

header a {
  color: white;
  position: relative;
  margin: 0 24px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.1rem;
}

header ul li:hover {
  transform: translateY(-4px);
}

.sticky .logo,
.sticky a {
  color: black;
}

.toggle {
  display: none;
}
